
html {
  background-image: url("../img/coloured-marble-texture.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 708px;
  margin: 0 auto;
  padding: 20px 20px 25px 20px;
  font-family: "Roboto-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #DDD;
}

main {
  background-color: #333;
}

.wrapper {
  padding: 0 25px 30px 20px;
  background-color: #333;

  section {
    padding: 0 0 30px;
  }
}

.intro {
  padding-top: 20px;

  img {
    width: 135px;
    display: block;
    margin: 0 auto;
  }
}

h1, h2, h3, p.lede {
  font-family: "Eksell-Display-small", "Times New Roman", serif;
  font-weight: bold;
  font-style: normal;
  font-size: 27px;
  line-height: 35px;
  margin: 0 0 20px 0;
}

p, ul, ol {
  margin: 0 0 15px 0;
}

li {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 10px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

$link-color: #00DD99;
$link-underline-color: $link-color;

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid $link-underline-color;

  &:hover, &:active {
    color: $link-color;
  }

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
}

.news-article, .blog-post {
  a {
    color: inherit;
    border-bottom: 0;

    &:hover, &:active {
      color: $link-color;
    }

    .article-source {
      margin-right: 8px;
      border-bottom: 1px solid $link-underline-color;
    }
  }
}

.sign-off {
  text-align: center;

  a {
    border-bottom: 0;
  }
}

// (Slightly) responsive layout

@media only screen and (min-width: 450px) {
  body {
    padding: 30px 30px 35px 30px;
  }
  .wrapper {
    padding: 0 40px 35px 35px;
  }
  .intro {
    padding-top: 35px;
  }
  body {
    font-size: 24px;
    line-height: 30px;
  }
  h1, h2, h3, p.lede {
    font-size: 35px;
    line-height: 45px;
  }
  li {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
