
html.cv {
  background-image: url("../img/white-marble-texture.jpg");

  body {
    max-width: 964px;
    line-height: 25px;
    color: #222;

    .wrapper {
      background-color: #FCFCFC;
    }

    p {
      max-width: 768px;
    }
    p.sign-off {
      max-width: none;
    }

    $link-color: #008564;
    $link-underline-color: lighten($link-color, 15%);

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $link-underline-color;

      &:hover, &:active {
        color: $link-color;
      }
    }

    .experience-organisation,
    .experience-role,
    .education-organisation,
    .education-dates,
    .award a {
      display: inline-block;
      margin-right: 8px;
    }
    @media only screen and (min-width: 450px) {
      line-height: 35px;
    }
  }
}
