
html.cv {
  background-image: url("../img/white-marble-texture.jpg");

  body {
    max-width: 964px;
    line-height: 25px;
    color: #DDD;

    p {
      max-width: 768px;
    }
    p.sign-off {
      max-width: none;
    }

    .experience-organisation,
    .experience-role,
    .education-organisation,
    .education-dates,
    .award a {
      display: inline-block;
      margin-right: 8px;
    }
    @media only screen and (min-width: 450px) {
      line-height: 35px;
    }
  }
}
