$background-colour: #061e3b;
$text-colour: #e0e0e0;
$accent-colour: #e66666;
$unit: 5px;

html {
  background-color: $background-colour;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body {
  max-width: 620px;
  margin: 0 auto;
  padding: $unit*6 $unit*4;
  font-family: "BluuNextBold", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: $text-colour;
}

h1, h2, h3 {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5385;
  letter-spacing: 0.05em;
  color: $accent-colour;
  margin: 0 0 $unit * 3 0;
  text-transform: uppercase;
}

section {
  padding-bottom: $unit * 6;
}

.intro {
  font-size: 26px;
  line-height: 35px;
  h1 {
    margin-bottom: $unit * 8;
  }
}

p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin: 0;
  margin-bottom: $unit * 5;
}

li {
  margin-bottom: $unit * 3;
}

.awards li, .contact li {
  margin-bottom: $unit;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

.contact li {
  display: inline;
  margin-right: $unit * 2;
}

.sign-off {
  text-align: center;
}
.heart {
  color: $accent-colour;
}

// (Slightly) responsive layout

@media only screen and (min-width: 708px) {
  body {
    padding: $unit*6 $unit*4 $unit*10 0;
  }
  body {
    font-size: 26px;
    line-height: 35px;
  }
  h1, h2, h3 {
    font-size: 15px;
    line-height: 1.3333;
  }

  .intro {
    font-size: 32px;
    line-height: 45px;
    h1 {
      margin-bottom: $unit * 8;
    }
  }
  li {
    margin: 0;
    margin-bottom: $unit * 4;
  }
}
